.header{
    width: 100px;
    background-color: dimgray;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-family: Ubuntu;

    h1{
        color: white;
    }
    h2{
        color: white;
    }
}

.profile-photo{
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.main-header{
    padding: 5px;
    padding-bottom: 0;
    padding-top:10px ;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;align-items: center;
}

.contacts{
    display: flex;
    justify-content: space-around;
   
    i{
        display: block;
        color: white;
        opacity: 0.7;
        transition: opacity 0.3s;
        &:hover{
            opacity: 1;
        }
    }
}

.navtab{
    flex-wrap: nowrap;
    width: 100%;


    .nav-tabs{
        width: 100%;
    }

    .nav-link{
        color: white;
        display: block;
        
        
        &:hover{
            background-color: white;
           color: black;

           transition: text-decoration 0.3s;
           transition: background-color 0.3s;
        }
        
        .active{

            color: black;
            &:hover{
                
            }
        }



        
    }

}