#main-page{
    padding: 10px;
}
.post{

    .card-text {
        min-width: 140px;
    }

}

.post-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date{

}

.loader{
    display: flex;
    flex-direction: column;


margin: o auto;

 i{
     display: block;
 }
}